<div class="slider">
  <div class="left-side">
    <div class="title">
      Dukung Persatuan <br />
      dengan Bendera Berkualitas
    </div>

    <div class="description">
      Bendera Merah Putih bukan sekadar simbol, tetapi lambang persatuan, semangat, dan cinta Tanah Air. Kami menyediakan bendera berkualitas tinggi dengan bahan yang tahan lama dan warna yang cerah, cocok untuk segala kebutuhan Anda, mulai dari upacara resmi hingga dekorasi istimewa. Mari kibarkan kebanggaan Indonesia dengan bendera terbaik, karena setiap helai kain adalah wujud cinta pada negeri
    </div>

    <div class="buttons">
      <!-- <button class="primary-button" (click)="handleStudioClick()">
        <mat-icon>brush</mat-icon>
        Ke Studio
      </button> -->
      <button class="secondary-button" (click)="handlePackageClick()">
        Pilih Bendera Favoritmu
      </button>
    </div>
  </div>

  <div class="right-side">
    <img src="/assets/flag.png" alt="Bendera" />
  </div>
</div>
