<div class="slider">
  <div class="left-side">
    <div class="title">
      Setiap Buku adalah <br />
      Cerita Petualanganmu
    </div>

    <div class="description">
      Temukan kebebasan desain tanpa batas untuk menciptakan buku tulis dan
      catatan impianmu. Upload designmu atau pilihlah dari beragam paket
      berkualitas yang telah kami siapkan, dan wujudkan buku spesial yang sesuai
      dengan gaya unikmu
    </div>

    <div class="buttons">
      <button class="primary-button" (click)="handleStudioClick()">
        <mat-icon>brush</mat-icon>
        Ke Studio
      </button>
      <button class="secondary-button" (click)="handlePackageClick()">
        Pilih Buku Favoritmu
      </button>
    </div>
  </div>

  <div class="right-side">
    <img src="/assets/book.png" alt="Book Journey" />
  </div>
</div>
