header {
  background: white;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
  }

  .logo {
    height: 50px;
    margin: 20px 0;
    display: flex;
    font-weight: bold;
    font-size: 19px;
    align-items: center;
    gap: 10px;

    img {
      height: 100%;
    }
  }
}
