section {
  background: white;
  margin-top: 60px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 60px;
  padding: 60px;

  .services {
    display: flex;
    margin-top: 60px;
    gap: 16px;
    width: 100%;

    .service-item {
      width: 100%;
      text-align: center;

      img {
        width: 200px;
        margin-bottom: 6px;
      }

      .title {
        font-size: 18px;
      }

      .description {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 720px) {
  section {
    padding: 16px;
    padding-top: 24px;

    .services {
      flex-direction: column;

      .title {
        font-size: 16px !important;
      }

      .description {
        font-size: 14px !important;
      }
    }
  }
}
